#include <iostream>

using namespace std;
void isEven(int num){
    if (num % 2 == 0) {
    cout << "Sum is even.\n";
  } else {
    cout << "Sum is odd.\n";
  }
}
int main() {
  int n;
  cin >> n;
  int * arr = new int[n];
  int sum = 0;
  for (int i = 0; i < n; i++) {
    cin >> arr[i];
    sum += arr[i];
  }
  isEven(sum);

  delete [] arr; 
  return 0;
}
